<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrAttendanceMapper">

    <resultMap type="com.ys.hr.domain.HrAttendance" id="HrAttendanceResult">
        <result property="attendanceId"    column="attendance_id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="checkIn"    column="check_in"    />
        <result property="checkOut"    column="check_out"    />
        <result property="workTime"    column="work_time"    />
        <result property="attendanceStatus"    column="attendance_status"    />
        <result property="overTime"    column="over_time"    />
        <result property="lateTime"    column="late_time"    />
        <result property="earlyTime"    column="early_time"    />
        <result property="attendanceTime"    column="attendance_time"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="inAdvanceTime"    column="in_advance_time"    />
        <result property="myWorkTime"    column="my_work_time"    />
        <result property="presentStatus"    column="present_status"    />
        <result property="weekDay"    column="week_day"    />
        <result property="isBefore"    column="is_before"    />
        <result property="punchType"    column="punch_type"    />
    </resultMap>

    <resultMap type="com.ys.hr.domain.vo.EmployeePresenCountVo" id="EmployeePresenCountResult">
        <result property="thisDays"    column="this_days"    />
        <result property="lastDays"    column="last_days"    />
    </resultMap>

    <resultMap type="com.ys.hr.domain.vo.AttendanceRateVo" id="AttendanceRateResult">
        <result property="date"    column="year_month"    />
        <result property="month"    column="month_abbr"    />
        <result property="attendanceCount"    column="attendance_count"    />
    </resultMap>

    <sql id="selectHrAttendanceVo">
        SELECT
            ha.attendance_id,
            ha.user_id,
            ha.nick_name,
            ha.check_in,
            ha.check_out,
            ha.work_time,
            ha.attendance_status,
            ha.over_time,
            ha.late_time,
            ha.early_time,
            ha.attendance_time,
            ha.enterprise_id,
            ha.create_by,
            ha.create_time,
            ha.update_by,
            ha.update_time,
            ha.remark,
            ha.my_work_time,
            ha.present_status,
            ha.punch_type,
            su.avatar
        FROM
            hr_attendance ha
                left JOIN sys_user su on su.user_id = ha.user_id
                left JOIN hr_employees he on he.user_id = su.user_id
    </sql>
    <insert id="insertHrAttendance" parameterType="com.ys.hr.domain.HrAttendance">
        insert into hr_attendance(
        user_id, nick_name, check_in, check_out,
        work_time, attendance_status, over_time,
        late_time, early_time, attendance_time,
        enterprise_id, create_by, create_time,
        update_by, update_time, in_advance_time, present_status, my_work_time
        )
        values(
        #{userId}, #{nickName}, #{checkIn}, #{checkOut},
        #{workTime}, #{attendanceStatus}, #{overTime},
        #{lateTime}, #{earlyTime}, #{attendanceTime},
        #{enterpriseId}, #{createBy}, #{createTime},
        #{updateBy}, #{updateTime}, #{inAdvanceTime}, #{presentStatus}, #{myWorkTime}
        )
    </insert>

    <select id="selectHrAttendanceList" parameterType="com.ys.hr.domain.HrAttendance" resultMap="HrAttendanceResult">
        <include refid="selectHrAttendanceVo"/>
        <where>
            <if test="userId != null "> and ha.user_id = #{userId}</if>
            <if test="presentStatus != null and presentStatus != ''">
                AND ha.present_status LIKE CONCAT('%', #{presentStatus}, '%')
            </if>
            <if test="searchTime != null  and searchTime != ''"> and ha.attendance_time = TO_TIMESTAMP(#{searchTime}, 'YYYY-MM-DD HH24:MI:SS')</if>
            <if test="enterpriseId != null  and enterpriseId != ''"> and ha.enterprise_id = #{enterpriseId}</if>
            <if test="nickName != null  and nickName != ''"> and he.full_name LIKE CONCAT('%', #{nickName}, '%')</if>
            <if test="params.beginCreateTime != null and params.endCreateTime != null">
                AND ha.attendance_time BETWEEN
                TO_TIMESTAMP(#{params.beginCreateTime}, 'YYYY-MM-DD HH24:MI:SS')
                AND
                TO_TIMESTAMP(#{params.endCreateTime}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
        </where>
        order by ha.attendance_time desc
    </select>

    <select id="selectById" parameterType="Long" resultMap="HrAttendanceResult">
        <include refid="selectHrAttendanceVo"/>
        where ha.attendance_id = #{attendanceId}
    </select>
    <select id="selectByUserName" resultType="com.ys.system.api.domain.SysUser">
        select * from sys_user where nick_name = #{nickName} and enterprise_id = #{enterpriseId}
    </select>
    <select id="getCountTime" resultType="java.util.Map" parameterType="com.ys.hr.domain.HrAttendance">
        SELECT
        COUNT(CASE WHEN ha.present_status IS NULL THEN 1 END) AS Present,
        COUNT(CASE WHEN ha.present_status LIKE '%1%' THEN 1 END) AS Late,
        COUNT(CASE WHEN ha.present_status LIKE '%2%' THEN 1 END) AS InAdvance
        FROM
        hr_attendance ha
        <where>
            <if test="enterpriseId != null  and enterpriseId != ''"> and ha.enterprise_id = #{enterpriseId}</if>
            <if test="userId != null "> and ha.user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.endCreateTime != null">
                AND ha.attendance_time BETWEEN
                TO_TIMESTAMP(#{params.beginCreateTime}, 'YYYY-MM-DD HH24:MI:SS')
                AND
                TO_TIMESTAMP(#{params.endCreateTime}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
        </where>
    </select>
    <select id="getCountByUserId" resultType="java.util.Map" parameterType="com.ys.hr.domain.HrAttendance">
        SELECT
            COUNT(*) AS total,
            COUNT(CASE WHEN ha.present_status LIKE '%3%' THEN 1 END) AS OverTime,
            COUNT(CASE WHEN ha.present_status LIKE '%1%' THEN 1 END) AS Late,
            COUNT(CASE WHEN ha.present_status LIKE '%2%' THEN 1 END) AS Early
        FROM
        hr_attendance ha
        <where>
            <if test="userId != null "> and ha.user_id = #{userId}</if>
            <if test="startDate != null and endDate != null">
                AND ha.attendance_time BETWEEN
                TO_TIMESTAMP(#{startDate}, 'YYYY-MM-DD HH24:MI:SS')
                AND
                TO_TIMESTAMP(#{endDate}, 'YYYY-MM-DD HH24:MI:SS')
            </if>
        </where>
    </select>
    <select id="selectHrAttendanceListByHr" resultType="com.ys.hr.domain.HrAttendance" parameterType="com.ys.hr.domain.HrAttendance">
--         SELECT
--             he.user_id,
--             COUNT(d.date) AS absent_days
--         FROM hr_employees he
--                  CROSS JOIN LATERAL (
--             SELECT generate_series(
--                            he.hire_date::timestamp,
--                            CURRENT_DATE,
--                            '1 day'::interval
--                    )::date AS date
--             ) d
--             LEFT JOIN hr_attendance ha
--         ON ha.user_id = he.user_id
--             AND ha.attendance_time = d.date
--             LEFT JOIN hr_leave hl
--             ON hl.user_id = he.user_id
--             AND d.date BETWEEN hl.state_time AND hl.end_time
--             LEFT JOIN hr_emp_holiday hh
--             ON hh.enterprise_id = he.enterprise_id
--             AND d.date BETWEEN hh.state_time AND hh.end_time
--         WHERE
--             he.enterprise_id = #{enterpriseId}
--           AND ha.user_id IS NULL
--           AND hl.user_id IS NULL
--           AND hh.enterprise_id IS NULL
--         GROUP BY he.user_id;
        SELECT
            he.user_id,
            d.date AS absent_date
        FROM hr_employees he
                 CROSS JOIN LATERAL (
            SELECT generate_series(
                           #{startDate}::timestamp,
                           #{endDate}::timestamp,
                           '1 day'::interval
                   )::date AS date
            ) d
            LEFT JOIN hr_attendance ha
        ON ha.user_id = he.user_id
            AND ha.attendance_time = d.date
            LEFT JOIN hr_leave hl
            ON hl.user_id = he.user_id
            AND d.date BETWEEN hl.state_time AND hl.end_time
            LEFT JOIN hr_emp_holiday hh
            ON hh.enterprise_id = he.enterprise_id
            AND d.date BETWEEN hh.state_time AND hh.end_time
        WHERE
            he.enterprise_id = #{enterpriseId}
          AND ha.user_id IS NULL
          AND hl.user_id IS NULL
          AND hh.enterprise_id IS NULL
        GROUP BY he.user_id;
    </select>
    <select id="selectHrAttendanceListByUser" resultType="com.ys.hr.domain.HrAttendance">
        SELECT
            d.date AS absent_date
        FROM hr_employees he
                 CROSS JOIN LATERAL (
            SELECT generate_series(
                           #{startDate}::timestamp,
                           #{endDate}::timestamp,
                           '1 day'::interval
                   )::date AS date
            ) d
            LEFT JOIN hr_attendance ha
        ON ha.user_id = he.user_id
            AND ha.attendance_time = d.date
            LEFT JOIN hr_leave hl
            ON hl.user_id = he.user_id
            AND d.date BETWEEN hl.state_time AND hl.end_time
            LEFT JOIN hr_emp_holiday hh
            ON hh.enterprise_id = he.enterprise_id
            AND d.date BETWEEN hh.state_time AND hh.end_time
        WHERE
          he.user_id = #{userId}
          AND ha.user_id IS NULL
          AND hl.user_id IS NULL
          AND hh.enterprise_id IS NULL
    </select>
    <select id="selectHrAttendance" resultType="com.ys.hr.domain.HrAttendance"
            parameterType="com.ys.hr.domain.HrAttendance">
        SELECT * FROM hr_attendance WHERE user_id = #{userId} AND attendance_time = TO_TIMESTAMP(#{attendanceTime}, 'YYYY-MM-DD HH24:MI:SS')
    </select>
    <select id="getPayrollsCount" resultType="java.util.Map" parameterType="com.ys.hr.domain.HrAttendance">
        SELECT
            DATE(hp.payroll_data) AS payrollPeriod,
            SUM(hp.before_tax_salary) AS grosstotal,
            SUM(hp.after_tax_salary) AS netamount,
            SUM(hp.abnormal_time_cost) AS deductions,
            COUNT(DISTINCT hp.payroll_id) AS record_count,
            COUNT(DISTINCT het.emp_time_id) AS allRecordCount
        FROM
            hr_payroll hp
            LEFT JOIN hr_emp_time het ON DATE(het.payroll_data) = DATE(hp.payroll_data)
            AND het.enterprise_id = #{enterpriseId}
        WHERE
            hp.payroll_status = '2' AND hp.enterprise_id = #{enterpriseId}
        GROUP BY
            DATE(hp.payroll_data)
        ORDER BY
            payrollPeriod DESC;
    </select>


    <update id="updateByIdNew" parameterType="com.ys.hr.domain.HrAttendance">
        update hr_attendance
        <trim prefix="SET" suffixOverrides=",">
                <if test="userId != null">user_id = #{userId},</if>
                <if test="nickName != null">nick_name = #{nickName},</if>
                <if test="checkIn != null">check_in = #{checkIn},</if>
                <if test="checkOut != null">check_out = #{checkOut},</if>
                <if test="workTime != null">work_time = #{workTime},</if>
                <if test="attendanceStatus != null">attendance_status = #{attendanceStatus},</if>
                <if test="overTime != null">over_time = #{overTime},</if>
                <if test="lateTime != null">late_time = #{lateTime},</if>
                <if test="earlyTime != null">early_time = #{earlyTime},</if>
                <if test="attendanceTime != null">attendance_time = #{attendanceTime},</if>
                <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
                <if test="createBy != null">create_by = #{createBy},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="updateBy != null">update_by = #{updateBy},</if>
                <if test="updateTime != null">update_time = #{updateTime},</if>
                <if test="remark != null">remark = #{remark},</if>
                <if test="presentStatus != null">present_status = #{presentStatus},</if>
                <if test="myWorkTime != null">my_work_time = #{myWorkTime}</if>
        </trim>
        where attendance_id = #{attendanceId}
    </update>

    <select id="selectUserWeekAttendance" parameterType="Long" resultMap="HrAttendanceResult">
        WITH week_dates AS (
        SELECT
        DATE_TRUNC( 'week', CURRENT_DATE ) + ( n || ' days' ) :: INTERVAL AS week_date,
        TO_CHAR( DATE_TRUNC( 'week', CURRENT_DATE ) + ( n || ' days' ) :: INTERVAL, 'Dy' ) AS short_name,
        CASE
        n
        WHEN 0 THEN
        'Monday'
        WHEN 1 THEN
        'Tues'
        WHEN 2 THEN
        'Wed'
        WHEN 3 THEN
        'Thur'
        WHEN 4 THEN
        'Friday'
        WHEN 5 THEN
        'Sat'
        WHEN 6 THEN
        'Sun'
        END AS custom_name
        FROM
        generate_series ( 0, 6 ) n
        ) SELECT
        wd.custom_name AS week_day,
        wd.week_date :: DATE AS attendance_time,-- 这里用 ::date 把 timestamp 转 date
        ha.check_in,
        ha.check_out,
        CASE

        WHEN wd.week_date :: DATE = CURRENT_DATE THEN
        1
        WHEN wd.week_date :: DATE &lt; CURRENT_DATE THEN
        2 ELSE 3
        END AS is_before
        FROM
        week_dates wd
        LEFT JOIN hr_attendance ha ON wd.week_date :: DATE = ha.attendance_time :: DATE
        AND ha.user_id = #{userId}
        ORDER BY
        wd.week_date
    </select>

    <select id="selectPresentTotal" parameterType="String" resultMap="EmployeePresenCountResult">
        WITH emp AS (
            SELECT user_id
            FROM hr_employees
            WHERE enterprise_id = #{userEnterpriseId}
              AND status = '1'
        ),
             attend AS (
                 SELECT
                     a.user_id,
                     a.attendance_time::date AS attend_date
                 FROM hr_attendance a
                 WHERE a.user_id IN (SELECT user_id FROM emp)
             )
        SELECT
            COUNT(*) FILTER (WHERE attend_date = CURRENT_DATE) AS this_days,
                COUNT(*) FILTER (WHERE attend_date = CURRENT_DATE - INTERVAL '1 day') AS last_days
        FROM attend
    </select>

    <select id="selectLastMonthAttendances" parameterType="Long" resultMap="HrAttendanceResult">
        SELECT
            attendance_time
        FROM
            hr_attendance
        WHERE
            user_id = #{userId}
            AND attendance_time >= date_trunc('month', current_date) - INTERVAL '1 month'
            AND attendance_time &lt; date_trunc('month', current_date)
    </select>

    <select id="selectThisMonthAttendances" parameterType="Long" resultMap="HrAttendanceResult">
        SELECT
            attendance_time
        FROM
            hr_attendance
        WHERE
            user_id = #{userId}
            AND attendance_time >= date_trunc('month', current_date)
            AND attendance_time &lt; date_trunc('month', current_date) + interval '1 month'
    </select>

    <select id="selectAttendanceRate" resultMap="AttendanceRateResult">
        WITH
            months AS (
                SELECT generate_series(1,12) AS month_num
            ),
            attendance_cnt AS (
                SELECT
                    EXTRACT(MONTH FROM attendance_time)::INT AS month_num,
                        COUNT(*)                       AS cnt
                FROM hr_attendance
                WHERE enterprise_id = #{userEnterpriseId}
                  AND EXTRACT(YEAR FROM attendance_time)::INT = #{year}
        GROUP BY month_num
            )
        SELECT
            -- Formatting为 'YYYY-MM'
            TO_CHAR(MAKE_DATE(#{year}, m.month_num, 1), 'YYYY-MM') AS year_month,
            -- 月缩写，如 'Jan','Feb'……
            TO_CHAR(MAKE_DATE(#{year}, m.month_num, 1), 'Mon')     AS month_abbr,
            --  Clock in 次数，空值补 0
            COALESCE(a.cnt, 0)                                    AS attendance_count
        FROM months m
                 LEFT JOIN attendance_cnt a
                           ON m.month_num = a.month_num
        ORDER BY m.month_num;
    </select>

    <select id="selectAttendanceByLastDay" parameterType="Long" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            hr_attendance
        WHERE
            user_id = #{userId}
            AND attendance_time >= CURRENT_DATE - INTERVAL '1 day'
            AND CURRENT_DATE > attendance_time
    </select>

    <select id="selectAttendanceByThisDay" parameterType="Long" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            hr_attendance
        WHERE
            user_id = #{userId}
          AND attendance_time >= CURRENT_DATE
          AND CURRENT_DATE + INTERVAL '1 day' > attendance_time
    </select>

    <select id="selectAttendanceByUserIdAndDate" resultMap="HrAttendanceResult">
        SELECT *
        FROM
            hr_attendance
        WHERE
            user_id = #{userId}
          AND attendance_time::date = TO_DATE(#{date}, 'YYYY-MM-DD')
    </select>

    <select id="selectPresentHours" resultMap="HrAttendanceResult">
        SELECT
            attendance_id,
            over_time,
            late_time,
            early_time,
            my_work_time
        FROM
            hr_attendance
        WHERE
            user_id = #{userId}
        AND attendance_time >= date_trunc('month', #{searchData}::date)
        AND (date_trunc('month', #{searchData}::date) + INTERVAL '1 month') > attendance_time

    </select>
    <select id="selectByPresentStatus" resultType="java.lang.String" >
        SELECT dict_label
        FROM sys_dict_data
        WHERE dict_type = 'present_status'
        AND
        dict_value LIKE CONCAT('%', #{presentStatus}, '%')

    </select>

</mapper>
