<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrBackgroundCheckOrderMapper">

    <resultMap type="com.ys.hr.domain.HrBackgroundCheckOrder" id="HrBackgroundCheckOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="candidateId"    column="candidate_id"    />
        <result property="jobLocationList"    column="job_location_list"    />
        <result property="requestor"    column="requestor"    />
        <result property="region2"    column="region2"    />
        <result property="additionalProductTypeList"    column="additional_product_type_list"    />
        <result property="complianceTokenIst"    column="compliance_token_ist"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="packageType"    column="package_type"    />
        <result property="status"    column="status"    />
        <result property="orderId"    column="order_id"    />
        <result property="userType"    column="user_type"    />
        <result property="firstName"    column="first_name"    />
        <result property="lastName"    column="last_name"    />
        <result property="email"    column="email"    />
        <result property="phone"    column="phone"    />
        <result property="birthdate"    column="birthdate"    />
    </resultMap>

    <sql id="selectHrBackgroundCheckOrderVo">
        select id, user_id, enterprise_id, candidate_id, package_type, order_id, job_location_list, requestor, region2, additional_product_type_list, compliance_token_ist, create_by, create_time, update_by, update_time, remark, status from hr_background_check_order
    </sql>

    <select id="selectHrBackgroundCheckOrderList" parameterType="com.ys.hr.domain.HrBackgroundCheckOrder" resultMap="HrBackgroundCheckOrderResult">
        select
            tbco.id,
            tbco.order_id,
            tbco.user_id,
            tbco.enterprise_id,
            tbco.candidate_id,
            tbco.package_type,
            tbco.job_location_list,
            tbco.requestor, region2,
            tbco.additional_product_type_list,
            tbco.compliance_token_ist,
            tbco.create_by,
            tbco.create_time,
            tbco.update_by,
            tbco.update_time,
            tbco.remark,
            tbco.status,
            tbci.user_type,
            tbci.first_name,
            tbci.last_name,
            tbci.email,
            tbci.phone,
            tbci.birthdate
        from
            hr_background_check_order tbco
        left join hr_background_check_info tbci on tbco.user_id = tbci.user_id
        <where>
            <if test="enterpriseId != null  and enterpriseId != ''"> and tbco.enterprise_id = #{enterpriseId}</if>
            <if test="email != null  and email != ''"> and tbci.first_name ILIKE concat('%', #{firstName}, '%')</if>
            <if test="email != null  and email != ''"> and tbci.last_name ILIKE concat('%', #{lastName}, '%')</if>
            <if test="email != null  and email != ''"> and tbci.email ILIKE concat('%', #{email}, '%')</if>
            <if test="email != null  and email != ''"> and tbci.phone ILIKE concat('%', #{phone}, '%')</if>
        </where>
        ORDER BY tbco.create_time DESC
    </select>

    <select id="selectHrBackgroundCheckOrderById" parameterType="Long" resultMap="HrBackgroundCheckOrderResult">
        <include refid="selectHrBackgroundCheckOrderVo"/>
        where id = #{id}
    </select>


</mapper>
