<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrEmpTimeMapper">

    <resultMap type="HrEmpTime" id="HrEmpTimeResult">
        <result property="empTimeId"    column="emp_time_id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="mouthDays"    column="mouth_days"    />
        <result property="presentHours"    column="present_hours"    />
        <result property="holidaysHours"    column="holidays_hours"    />
        <result property="leaveHours"    column="leave_hours"    />
        <result property="lateHours"    column="late_hours"    />
        <result property="earlyHours"    column="early_hours"    />
        <result property="overHours"    column="over_hours"    />
        <result property="absentHours"    column="absent_hours"    />
        <result property="workHours"    column="work_hours"    />
        <result property="payrollData"    column="payroll_data"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="payrollStatus"    column="payroll_status"    />

    </resultMap>

    <sql id="selectHrEmpTimeVo">
        select emp_time_id, user_id, nick_name, mouth_days, present_hours, holidays_hours, leave_hours, late_hours, early_hours, over_hours, absent_hours, work_hours, payroll_data, enterprise_id, payroll_status from hr_emp_time
    </sql>

    <select id="selectHrEmpTimeList" parameterType="HrEmpTime" resultMap="HrEmpTimeResult">
        <include refid="selectHrEmpTimeVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name ILIKE concat('%', #{nickName}, '%')</if>
            <if test="mouthDays != null  and mouthDays != ''"> and mouth_days = #{mouthDays}</if>
            <if test="presentHours != null  and presentHours != ''"> and present_hours = #{presentHours}</if>
            <if test="holidaysHours != null  and holidaysHours != ''"> and holidays_hours = #{holidaysHours}</if>
            <if test="leaveHours != null  and leaveHours != ''"> and leave_hours = #{leaveHours}</if>
            <if test="lateHours != null  and lateHours != ''"> and late_hours = #{lateHours}</if>
            <if test="earlyHours != null  and earlyHours != ''"> and early_hours = #{earlyHours}</if>
            <if test="overHours != null  and overHours != ''"> and over_hours = #{overHours}</if>
            <if test="absentHours != null  and absentHours != ''"> and absent_hours = #{absentHours}</if>
            <if test="workHours != null  and workHours != ''"> and work_hours = #{workHours}</if>
            <if test="payrollData != null  and payrollData != ''"> and payroll_data = #{payrollData}</if>
            <if test="enterpriseId != null  and enterpriseId != ''"> and enterprise_id = #{enterpriseId}</if>
        </where>
    </select>

    <select id="selectHrEmpTimeByEmpTimeId" parameterType="String" resultMap="HrEmpTimeResult">
        <include refid="selectHrEmpTimeVo"/>
        where emp_time_id = #{empTimeId}
    </select>
    <select id="getTimeByUserId" resultType="com.ys.hr.domain.HrEmpTime"
            parameterType="com.ys.hr.domain.HrEmpTime">
        <include refid="selectHrEmpTimeVo"/>
        where user_id = #{userId} and payroll_data = TO_TIMESTAMP(#{searchTime}, 'YYYY-MM-DD HH24:MI:SS')
    </select>


</mapper>
