<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrEmployeeRegularizationMapper">

    <resultMap type="HrEmployeeRegularization" id="HrEmployeeRegularizationResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="probationStartDate"    column="probation_start_date"    />
        <result property="probationEndDate"    column="probation_end_date"    />
        <result property="probationSalary"    column="probation_salary"    />
        <result property="applicationDate"    column="application_date"    />
        <result property="regularSalary"    column="regular_salary"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHrEmployeeRegularizationVo">
        select id, employee_id, probation_start_date, probation_end_date, probation_salary, application_date, regular_salary, status, create_by, create_time, update_by, update_time, remark from hr_employee_regularization
    </sql>

    <select id="selectHrEmployeeRegularizationList" parameterType="HrEmployeeRegularization" resultMap="HrEmployeeRegularizationResult">
        <include refid="selectHrEmployeeRegularizationVo"/>
        <where>
            <if test="employeeId != null  and employeeId != ''"> and employee_id = #{employeeId}</if>
            <if test="probationStartDate != null "> and probation_start_date = #{probationStartDate}</if>
            <if test="probationEndDate != null "> and probation_end_date = #{probationEndDate}</if>
            <if test="probationSalary != null  and probationSalary != ''"> and probation_salary = #{probationSalary}</if>
            <if test="applicationDate != null "> and application_date = #{applicationDate}</if>
            <if test="regularSalary != null  and regularSalary != ''"> and regular_salary = #{regularSalary}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectHrEmployeeRegularizationById" parameterType="Long" resultMap="HrEmployeeRegularizationResult">
        <include refid="selectHrEmployeeRegularizationVo"/>
        where id = #{id}
    </select>


</mapper>
