<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrEnterpriseRealNameInfoMapper">

    <resultMap type="com.ys.hr.domain.HrEnterpriseRealNameInfo" id="HrEnterpriseRealNameInfoResult">
        <result property="id"    column="id"    />
        <result property="companyName"    column="company_name"    />
        <result property="creditCode"    column="credit_code"    />
        <result property="legalPersonName"    column="legal_person_name"    />
        <result property="legalPersonIdCardNo"    column="legal_person_id_card_no"    />
        <result property="agentName"    column="agent_name"    />
        <result property="agentIdCardNo"    column="agent_id_card_no"    />
        <result property="authMode"    column="auth_mode"    />
        <result property="bizId"    column="biz_id"    />
        <result property="faceAuthMode"    column="face_auth_mode"    />
        <result property="showResult"    column="show_result"    />
        <result property="noticeMobile"    column="notice_mobile"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="certificationStatus"    column="certification_status"    />
        <result property="massage"    column="massage"    />
        <result property="certificationType"    column="certification_type"    />
        <result property="identifyUrl"    column="identify_url"    />
        <result property="serialNo"    column="serial_no"    />
    </resultMap>

    <sql id="selectHrEnterpriseRealNameInfoVo">
        select id, company_name, credit_code, legal_person_name, legal_person_id_card_no, agent_name,
               agent_id_card_no, auth_mode, biz_id, face_auth_mode, show_result, notice_mobile, user_id, serial_no,
               certification_status, massage, certification_type, identify_url, create_by, create_time, update_by, update_time, remark
        from hr_enterprise_real_name_info
    </sql>

    <select id="selectHrEnterpriseRealNameInfoList" parameterType="com.ys.hr.domain.HrEnterpriseRealNameInfo" resultMap="HrEnterpriseRealNameInfoResult">
        <include refid="selectHrEnterpriseRealNameInfoVo"/>
        <where>
            <if test="companyName != null  and companyName != ''"> and company_name ILIKE concat('%', #{companyName}, '%')</if>
            <if test="creditCode != null  and creditCode != ''"> and credit_code = #{creditCode}</if>
            <if test="legalPersonName != null  and legalPersonName != ''"> and legal_person_name ILIKE concat('%', #{legalPersonName}, '%')</if>
            <if test="legalPersonIdCardNo != null  and legalPersonIdCardNo != ''"> and legal_person_id_card_no = #{legalPersonIdCardNo}</if>
            <if test="agentName != null  and agentName != ''"> and agent_name ILIKE concat('%', #{agentName}, '%')</if>
            <if test="agentIdCardNo != null  and agentIdCardNo != ''"> and agent_id_card_no = #{agentIdCardNo}</if>
            <if test="authMode != null  and authMode != ''"> and auth_mode = #{authMode}</if>
            <if test="bizId != null  and bizId != ''"> and biz_id = #{bizId}</if>
            <if test="faceAuthMode != null  and faceAuthMode != ''"> and face_auth_mode = #{faceAuthMode}</if>
            <if test="showResult != null  and showResult != ''"> and show_result = #{showResult}</if>
            <if test="noticeMobile != null  and noticeMobile != ''"> and notice_mobile = #{noticeMobile}</if>
        </where>
    </select>

    <select id="selectHrEnterpriseRealNameInfoById" parameterType="Long" resultMap="HrEnterpriseRealNameInfoResult">
        <include refid="selectHrEnterpriseRealNameInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectHrEnterpriseRealNameInfoByUserId" parameterType="String" resultMap="HrEnterpriseRealNameInfoResult">
        <include refid="selectHrEnterpriseRealNameInfoVo"/>
        where user_id = #{userEnterpriseId}
    </select>

    <select id="selectBySerialNo" parameterType="String" resultMap="HrEnterpriseRealNameInfoResult">
        <include refid="selectHrEnterpriseRealNameInfoVo"/>
        where serial_no = #{serialNo}
    </select>
</mapper>
