<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrJobMapper">

    <resultMap type="HrJob" id="HrJobResult">
        <result property="id"    column="id"    />
        <result property="jobTitle"    column="job_title"    />
        <result property="jobLevel"    column="job_level"    />
        <result property="jobCategory"    column="job_category"    />
        <result property="jobType"    column="job_type"    />
        <result property="minSalary"    column="min_salary"    />
        <result property="maxSalary"    column="max_salary"    />
        <result property="responsibilities"    column="responsibilities"    />
        <result property="requirements"    column="requirements"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="currency"    column="currency"    />
    </resultMap>

    <sql id="selectHrJobVo">
        select id, job_title, job_level, job_category, job_type, min_salary, max_salary, responsibilities, requirements, description, status, create_by, create_time, update_by, update_time, remark, currency from hr_job
    </sql>

    <select id="selectHrJobList" parameterType="HrJob" resultMap="HrJobResult">
        <include refid="selectHrJobVo"/>
        <where>
            <if test="enterpriseId != null"> and enterprise_id = #{enterpriseId}</if>
            <if test="jobTitle != null  and jobTitle != ''"> and job_title = #{jobTitle}</if>
            <if test="jobLevel != null  and jobLevel != ''"> and job_level = #{jobLevel}</if>
            <if test="jobCategory != null  and jobCategory != ''"> and job_category = #{jobCategory}</if>
            <if test="jobType != null  and jobType != ''"> and job_type = #{jobType}</if>
            <if test="minSalary != null  and minSalary != ''"> and min_salary = #{minSalary}</if>
            <if test="maxSalary != null  and maxSalary != ''"> and max_salary = #{maxSalary}</if>
            <if test="responsibilities != null  and responsibilities != ''"> and responsibilities = #{responsibilities}</if>
            <if test="requirements != null  and requirements != ''"> and requirements = #{requirements}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
        </where>
    </select>

    <select id="selectHrJobById" parameterType="Long" resultMap="HrJobResult">
        <include refid="selectHrJobVo"/>
        where id = #{id}
    </select>


</mapper>
