<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrPayplanMapper">

    <resultMap type="HrPayplan" id="HrPayplanResult">
        <result property="payId"    column="pay_id"    />
        <result property="payName"    column="pay_name"    />
        <result property="isFreeTrial"    column="is_free_trial"    />
        <result property="payMonthPrice"    column="pay_month_price"    />
        <result property="payYearPrice"    column="pay_year_price"    />
        <result property="discountPercent"    column="discount_percent"    />
        <result property="validMonthDays"    column="valid_month_days"    />
        <result property="validYearDays"    column="valid_year_days"    />
        <result property="payDetail"    column="pay_detail"    />
        <result property="freeDays"    column="free_days"    />
        <result property="level"    column="level"    />
    </resultMap>

    <sql id="selectHrPayplanVo">
        select pay_id, pay_name, is_free_trial, pay_month_price, pay_year_price, discount_percent, valid_month_days, valid_year_days, pay_detail, free_days, level from hr_payplan
    </sql>

    <select id="selectHrPayplanList" parameterType="HrPayplan" resultMap="HrPayplanResult">
        <include refid="selectHrPayplanVo"/>
        <where>
            <if test="payName != null  and payName != ''"> and pay_name ILIKE concat('%', #{payName}, '%')</if>
            <if test="isFreeTrial != null "> and is_free_trial = #{isFreeTrial}</if>
            <if test="payMonthPrice != null "> and pay_month_price = #{payMonthPrice}</if>
            <if test="payYearPrice != null "> and pay_year_price = #{payYearPrice}</if>
            <if test="discountPercent != null "> and discount_percent = #{discountPercent}</if>
            <if test="validMonthDays != null "> and valid_month_days = #{validMonthDays}</if>
            <if test="validYearDays != null "> and valid_year_days = #{validYearDays}</if>
            <if test="payDetail != null  and payDetail != ''"> and pay_detail ILIKE concat('%', #{payDetail}, '%')</if>
            <if test="freeDays != null "> and free_days = #{freeDays}</if>
        </where>
    </select>

    <select id="selectHrPayplanByPayId" parameterType="String" resultMap="HrPayplanResult">
        <include refid="selectHrPayplanVo"/>
        where pay_id = #{payId}
    </select>


</mapper>
