<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.HrSchedulingEmpMapper">

    <resultMap type="HrSchedulingEmp" id="HrSchedulingEmpResult">
        <result property="schedulingEmpId"    column="scheduling_emp_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="schedulingData"    column="scheduling_data"    />
    </resultMap>

    <sql id="selectHrSchedulingEmpVo">
        SELECT
            hes.scheduling_id,
            hes.scheduling_type,
            hes.week_days,
            hes.month_days_off,
            hes.daily_schedule,
            hes.paid_vacation_days,
            hes.user_id,
            hes.default_start_time,
            hes.default_end_time,
            hes.rest_end_time,
            hes.rest_start_time,
            hes.scheduling_name,
            hes.scheduling_type,
            hse.scheduling_emp_id,
            hes.week_days,
            hes.month_days_off,
            hse.scheduling_data
        FROM
            hr_emp_scheduling hes
                LEFT JOIN hr_scheduling_emp hse ON hse.scheduling_id = hes.scheduling_id
    </sql>

    <select id="selectHrSchedulingEmpList" parameterType="HrSchedulingEmp" resultMap="HrSchedulingEmpResult">
        <include refid="selectHrSchedulingEmpVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and hse.user_id = #{userId}</if>
            <if test="schedulingData != null  and schedulingData != ''"> and hse.scheduling_data = #{schedulingData}</if>
        </where>
    </select>

    <select id="selectHrSchedulingEmpBySchedulingEmpId" parameterType="String" resultMap="HrSchedulingEmpResult">
        <include refid="selectHrSchedulingEmpVo"/>
        where hse.scheduling_emp_id = #{schedulingEmpId}
    </select>
    <select id="selectHrSchedulingEmpByDataAndUserId" resultType="com.ys.hr.domain.HrSchedulingEmp">
        <include refid="selectHrSchedulingEmpVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and hse.user_id = #{userId}</if>
            <if test="searchTime != null  and searchTime != ''"> and hse.scheduling_data = TO_TIMESTAMP(#{searchTime}, 'YYYY-MM-DD HH24:MI:SS')</if>
        </where>
    </select>
    <select id="selectHrSchedulingEmpByUserId" resultType="com.ys.hr.domain.HrSchedulingEmp">
        <include refid="selectHrSchedulingEmpVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and hse.user_id = #{userId}</if>
            <if test="searchTime != null  and searchTime != ''"> and hse.scheduling_data = TO_TIMESTAMP(#{searchTime}, 'YYYY-MM-DD HH24:MI:SS')</if>
        </where>
    </select>

    <select id="selectSchedulingEmpByUserIdAndDate" resultMap="HrSchedulingEmpResult">
        SELECT *
        FROM hr_scheduling_emp
        WHERE user_id = #{userId}
          AND to_char(scheduling_data, 'YYYY-MM') = to_char(to_date(#{formattedDate}, 'YYYY-MM-DD'), 'YYYY-MM')
    </select>

    <select id="selectHrSchedulingEmpInfo" parameterType="com.ys.hr.domain.HrSchedulingEmp" resultMap="HrSchedulingEmpResult">
        SELECT
            *
        FROM
            hr_scheduling_emp
        WHERE
            user_id = #{userId}
          and scheduling_data = #{schedulingData}
          and scheduling_id = #{schedulingId}

    </select>
</mapper>
