<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.hr.mapper.ReportCandidateStatisticsMapper">

    <select id="selectTotalApplicants" resultType="java.lang.Integer">
        select count(1) from hr_candidate_info where enterprise_id = #{enterpriseId}
        <if test="position!=null">and job_information = #{position}</if>
        <if test="startDate!=null">and to_timestamp(to_char(create_time,'YYYY-mm-dd'), 'YYYY-mm-dd') >= to_timestamp(#{startDate}, 'YYYY-mm-dd')</if>
        <if test="endDate!=null">and to_timestamp(to_char(create_time,'YYYY-mm-dd'), 'YYYY-mm-dd') &lt;= to_timestamp(#{endDate}, 'YYYY-mm-dd')</if>
    </select>

    <select id="selectTotalAccruedThisPeriod" resultType="java.lang.Integer">
        select count(1) from hr_candidate_info where enterprise_id = #{enterpriseId}
        <if test="position!=null">and job_information = #{position}</if>
    </select>

    <select id="selectCandidateReportList" resultType="com.ys.hr.domain.vo.ReportCandidateListVo">
        select b.dict_value stage, count(a.candidate_id) noOfCandidate,
        avg(EXTRACT(epoch FROM ((case when a.candidate_status = '1' then a.shortlisted_time when a.candidate_status =
            '2' then a.interviewing_time when
            a.candidate_status = '3' then a.hired_time when a.candidate_status = '4' then a.rejected_time else null end)
            -(case when a.candidate_status = '1' then a.create_time when a.candidate_status = '2' then
            a.shortlisted_time when a.candidate_status = '3' then a.interviewing_time when a.candidate_status = '4' then
            a.hired_time
            end)
        ))) avgSeconds
        from sys_dict_data b left join hr_candidate_info a on a.enterprise_id = #{enterpriseId} and b.dict_value = a.candidate_status
        where b.dict_type = 'tb_candidate_status'
        <if test="position!=null">and a.job_information = #{position}</if>
        group by b.dict_value order by b.dict_value
    </select>
</mapper>
